body {
    background-color: #FFD1DC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

p {
    margin: 0%;
    font-weight: bold;
    font-size: 22px;
}

input[type=text] {
    background-color: #FFF;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: text;
    max-width: 450px;
}

.btn {
    background-color: #9c5858;
    border: #9c5858;
    border-radius: 20px;
    padding: 10px;
    margin: 15px;
    font-size: 16px;
    cursor: pointer;
    color: #FFD1DC;
    font-weight: bold;
    max-width: 450px;
}

.btn:hover{
    background-color: #4d2929;
}

.giselle {
    text-align: center;
}

.janela{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffd1dc3f;
    backdrop-filter: blur(5px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    align-items: center;
    justify-content: center; 
}

.modal{
    width: 33%;
    min-width: 450px;
    min-height: 200px;
    background-color: #ffffff88;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 30px;
    border: 1px solid #9e344d;
    text-align: center;
    font-size: 24px;
    box-sizing: border-box;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;  
    left: 50%;
}

.fechar{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: #9e344d;
    color: pink;
    font-size: 20px;
    cursor: pointer;
}

.fechar:hover {
    background-color: #581122; 
}
.janela.abrir{
    display: flex;
}


@media (max-width: 768px) {
    body {
        height: auto; 
        padding: 10px;
    }

    .container {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;
    }

    p {
        font-size: 18px; 
    }

    input[type="text"], .btn {
        font-size: 14px; 
        padding: 8px 16px;
        width: 100%; 
        max-width: 400px; 
    }

    .modal {
        width: 80%; 
        max-width: 450px;
        padding: 20px;
        font-size: 20px;
    }

    .fechar {
        font-size: 18px;
    }
}


@media (max-width: 430px) {
    body {
        padding: 10px;
    }

    .container {
        width: 100%;
        padding: 5px;
    }

    p {
        font-size: 16px; 
    }

    input[type="text"], .btn {
        font-size: 12px; 
        padding: 6px 12px;
        width: 100%; 
        max-width: 350px; 
    }

    .modal {
        width: 90%; 
        max-width: 380px; 
        padding: 15px;
        font-size: 16px; 
    }

    .fechar {
        font-size: 16px;
    }
}


@media (min-width: 1280px) {
    .container {
        max-width: 600px; 
    }

    .modal {
        width: 33%;
        padding: 50px;
        font-size: 24px;
    }
}
