body{
    background-color: #FFD1DC;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.container {
        text-align: center;
        display: flex;
        flex-direction: column;
}

p{
    margin: 0%;
    font-weight: bold;
}

input[type=text]{
    background-color: #FFF;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor:text;
}

.btn {
    background-color: #9c5858;
    border:#9c5858;
    border-radius: 20px;
    padding: 10px;
    margin: 15px;
    font-size: 16px;
    cursor:pointer;
    color: #FFD1DC;
    font-weight: bold;
}

.giselle{
    text-align:center;
}

@media screen {
    @media (min-width: 320px) and (max-width: 430px) {
        body{ 
            background-color: #FFD1DC;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            display: flex; 
            justify-content: center;
            align-items: center;
            height: 80vh;
            margin-top: 250px;
            position: relative;
            block-size: 20%;
        }
        
        .container {
            text-align: center;
            display: flex;
            flex-direction: column;
            margin-left: 40px;
            margin-right: 40px;
        }

        p{
            margin: 0%;
            font-weight: bold;
        }
        input[type=text] {
            background-color: #FFF;
            border: none;
            border-radius: 20px;
            padding: 10px 10px;
            margin: 5px;
            font-size: 16px;
            cursor:text;
        }
        
        .btn {
            font-weight: bold;
            background-color: #9c5858;
            border:#9c5858;
            border-radius: 20px;
            padding: 10px;
            margin: 5px;
            font-size: 16px;
            cursor:pointer;
            color: #FFD1DC;
        }
        
        .giselle{
            text-align:center;
            height: 200px;
            width: 400px;
            margin-left: 7px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1280px){
    body{ 
        background-color: #FFD1DC;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex; 
        justify-content: center;
        align-items: center;
        height: 90vh;
        margin: 0;
        position: relative;
    }
    
    .container {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    p{
        font-size: 20px;
        margin: 0%;
        font-weight: bold;
    }

    input[type=text]{
        background-color: #FFF;
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
        margin: 10px;
        font-size: 16px;
        cursor:text;
    }
    
    .btn {
        background-color: #9c5858;
        border:#9c5858;
        border-radius: 20px;
        padding: 10px;
        margin: 15px;
        font-size: 18px;
        cursor:pointer;
        color: #FFD1DC;
        font-weight: bold;
    }
    
    .giselle{
        text-align:center;
    }
}
